{% extends 'base.html.twig' %}

{% block title %}Boîte de reception{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messagerie</h1>
                <h2>Boîte de reception</h2>
                <p>Vous avez reçu {{app.user.received|length}} messages</p>
            </div>
            <div class="col-3">De</div>
            <div class="col-3">Sujet</div>
            <div class="col-3">Date</div>
            <div class="col-3">Actions</div>
            {% for message in app.user.received %}
                {% if message.isRead == 0 %}
                    {% set bold = 'fw-bold' %}
                {% else %}
                    {% set bold = '' %}
                {% endif %}
                <div class="col-3 {{bold}}">{{ message.sender.email}}</div>
                <div class="col-3 {{bold}}"><a href="{{path('app_message_read', {id: message.id})}}">{{ message.title}}</a></div>
                <div class="col-3 {{bold}}">{{ message.createdAt|date("d/m/Y H:m")}}</div>
                <div class="col-3 {{bold}}">
                    <a href="{{path('app_message_delete', {id: message.id})}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                    </a>
                </div>
            {% endfor %}
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Voir mes dossiers
                </a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
        <a href="{{path('app_message')}}" class="list-group-item list-group-item-action active">Accueil</a>
    </div>
    <div class="list-group">
        <a href="{{path('app_message_received')}}" class="list-group-item list-group-item-action">Boîte de reception</a>
    </div>
    <div class="list-group">
        <a href="{{path('app_message_sent')}}" class="list-group-item list-group-item-action">Eléments envoyés</a>
    </div>
  </div>
</div>
{% endblock %}
